<div class="call-to-action">
  <a id="primary"
    href="https://www.npmjs.com/package/web-component-base#readme">
    Learn More
  </a>
  <a href="https://codepen.io/ayoayco-the-styleful/pen/PoVegBK?editors=1010">Playground</a>
</div>

<style>
.call-to-action {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin: 1em 0;
  width: 100%;

  & a {
    border: 1px solid var(--color-primary);
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;

    &#primary {
        background: #3054bf;
        color: white;
        text-decoration: none;
        width: 40%;
    }
  }
}

@media only screen and (max-device-width: 376px) {
  .call-to-action {
    flex-direction: column;
    & a {
      width: 100% !important;
    }
  }
}
</style>